<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/lib/fortawesome-font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <link rel="stylesheet" href="~/lib/blueimp-file-upload/css/jquery.fileupload.css" />
    <link rel="stylesheet" href="~/lib/blueimp-file-upload/css/jquery.fileupload-ui.css" />

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/modernizer/modernizr.js"></script>
    <script type="text/javascript" src="~/lib/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="~/lib/blueimp-tmpl/js/tmpl.js"></script>
    <script type="text/javascript" src="~/lib/blueimp-load-image/js/load-image.all.min.js"></script>
    <script type="text/javascript" src="~/lib/blueimp-canvas-to-blob/js/canvas-to-blob.js"></script>
    <script type="text/javascript" src="~/lib/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="~/lib/blueimp-file-upload/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="~/lib/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
    <script type="text/javascript" src="~/lib/blueimp-file-upload/js/jquery.fileupload-image.js"></script>
    <script type="text/javascript" src="~/lib/blueimp-file-upload/js/jquery.fileupload-validate.js"></script>
    <script type="text/javascript" src="~/lib/blueimp-file-upload/js/jquery.fileupload-ui.js"></script>

    @RenderSection("scripts", false)

    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
